{% extends 'admin/base.html' %}
{% load humanize %}
{% block content %}

<form><input type="text" name="command"/><input type="submit" value="Run command"/></form>

<h1>Server analytics</h1>

<table>
    {% if stats %}
        {% for key, report in stats %}
        <tr>
            <td><strong>{{ report.description }}</strong></td>
            <td>{{ report.value|intcomma }}</td>
        </tr>
        {% endfor %}
    {% else %}
        <h2>Stats Error</h2>
        {{ errors.stats }}
    {% endif %}
</table>
{% endblock %}
